// app global css in SCSS form
@import "tables";
@import "admin/elements";
@import "landing/elements";
.container {
        padding-left: 30px;
        padding-right: 30px;
}

// Quitar los controles en los inputs numbers
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

input[type="number"] {
        -moz-appearance: textfield;
}

.container {
        //max-width: 1350px;
        padding-left: 30px;
        padding-right: 30px;
}

.box-shadow {
        box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.z-index-7000 {
        z-index: 7000 !important;
}
.btn {
        &.btn-custom {
                border-radius: 10px;
                color: white;
                background-color: $primary;
                box-shadow: 0 4px 18px -4px rgba($primary, 65%);
        }
}

.flex-column {
        display: flex;
        flex-direction: column;
        align-content: center;
}

.space-around {
        display: flex;
        justify-content: space-around;
}

.full-center {
        display: flex;
        justify-content: center;
        align-items: center;
}

.custom-bg {
        // background-image: url(~assets/top-view.jpg);
        background-size: cover;
}

.mb-20 {
        margin-bottom: 20px;
}
.custom-bg-primary {
        background-color: #1e232d;
}
